body {
    background: linear-gradient(-140deg, rgb(255, 223, 248) 57.7%, rgb(255, 255, 255) 30%, rgb(67, 9, 122)10%);
  }
  @font-face {
    font-family: fontAlice;
    src: url(fonts/Alice_in_Wonderland_3.ttf);
  }
  @font-face {
    font-family: fontEva;
    src: url(fonts/evanescent.ttf);
  }
  

h1{
    font-size: 55px;
    font-family: fontEva;
    font-style: italic;
    color: rgb(252, 252, 255);
    border-radius: 16px;
    margin-left: 545px;
    margin-right: 600px;
    background-color: rgb(67, 9, 122);
    margin-bottom: 45px;
    box-shadow: 3px 3px 15px black;
    padding: 6px;
    padding-right: 6px;
    width: 317px;
    height: 55px;
}
#imagemlogo{
    margin-left: 345px;
}
ul li{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    color: rgb(255, 255, 255);
    background-color: rgb(67, 9, 122);
    border: groove 0px black;
    border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 25px;
    box-shadow: 6px 6px 9px black;
    padding: 5px;
    width: 480px;
    margin-left: 345px;

}
h2{
    font-size: 30px;
    font-family: fontMedieval;
 }
 @font-face {
    font-family: fontMedieval;
    src: url(fonts/MedievalSharp-Bold.ttf);
  }
  a{
    text-decoration: none;
    border: solid rgb(13, 157, 197) 3px;
  }